In [14]:
# Data Ingestion 
import pandas as pd

raw_df = pd.read_csv('../00_src/UDS_Capybara - Master_db.csv')

In [15]:
# Glimpse of the raw dataset
raw_df.sample(5)

,INDUSTRY,PLATFORM,PROFILE,FOLLOWERS,FOLLOWERS EVOLUTION,ENGAGEMENT,POSTS,AVERAGE ENG/ POST,AVERAGE ENG RATE/ POST,ENGAGEMENT RATE/ PROFILE,REACH,VIEWS
174,FMCG,Instagram,CravnFlavor,780,0 0%,206,14,14.7 /post,2%,26.41%,"2,652",NaN
64,Fashion,Twitter,Nike,"10,049,679","57,462 0.58%",3683,2,1842 /post,0%,0%,NaN,NaN
35,Tech,Facebook,calendly,"9,678",59 0.61%,0,0,0 /post,0%,0%,0,NaN
155,Fashion,Twiiter,Primark,"264,970",0 0%,0,0,0 /post,0%,0%,NaN,NaN
15,Tech,Facebook,smartsheet,"32,048",0 0%,179,20,8.9 /post,0.03%,0.56%,736,NaN

In [16]:
# Clean the 'PLATFORM' column by removing spaces and converting to lowercase
raw_df['PLATFORM'] = raw_df['PLATFORM'].str.replace(' ', '').str.lower()

# Identify and print unique platforms before further cleaning
unique_platforms = raw_df['PLATFORM'].unique()
print("Unique platforms:", unique_platforms)

Unique platforms: ['facebook' 'tiktok' 'instagram' 'linkedin' 'youtube' 'twitter'
 'intstagram' 'twiiter']

In [17]:
# Correct typos in the 'PLATFORM' column and exclude 'linkedin' platform (B2C focus)
raw_df = raw_df.replace({'PLATFORM': {'intstagram': 'instagram', 'twiiter': 'twitter'}})

raw_df = raw_df[raw_df['PLATFORM'] != 'linkedin']

# Validate unique platforms in data
unique_platforms = raw_df['PLATFORM'].unique()
print(unique_platforms)

['facebook' 'tiktok' 'instagram' 'youtube' 'twitter']

In [18]:
# Clean the 'PROFILE' column by removing spaces and converting to lowercase
raw_df.loc[:, 'PROFILE'] = raw_df['PROFILE'].str.replace(' ', '').str.lower()

# Display unique profiles
unique_profiles = raw_df['PROFILE'].unique()
print("Unique profiles after cleaning:", unique_profiles)

Unique profiles after cleaning: ['netflix' 'apple' 'amazon' 'smartsheet' 'uber' 'airbnb' 'asana'
 'calendly' 'spotify' 'blinkist' 'instacart' 'pathwright' 'nike' 'gucci'
 'adidas' 'chanel' 'zara' 'dior' 'levis' 'forever21' "levi's"
 'christiandior' 'levi’s' 'expedia' 'carnival' 'delta' 'deltaairlines'
 'carnivalcruiseline' 'allegiant' 'allegiantair' 'vrbo' 'hostelworld'
 'hilton' 'palisociety' 'hostelworld–meettheworld' 'trivago' 'tripadvisor'
 'vikingcruises' 'viking' 'asos' 'primark' 'uniqloglobal' 'boohoo'
 'uniqlo' 'starbucks' 'coca-cola' 'nutella' 'dove' 'heineken' 'justegg'
 'oralb' 'burstoralcare' 'coppercowcoffee' 'rulebreakersnacks'
 'caymanjack' 'pretzilla' 'cravnflavor']

In [19]:
# Correcting specific typos and inconsistencies in the 'PROFILE' column
raw_df.loc[:, 'PROFILE'] = raw_df['PROFILE'].replace({
    'allegiantair': 'allegiant',
    'carnivalcruiseline': 'carnival',
    'deltaairlines': 'delta',
    'christiandior': 'dior',
    'hostelworld–meettheworld': 'hostelworld',
    'levi’s': 'levis',
    "levi's": 'levis',
    'uniqloglobal': 'uniqlo',
    'vikingcruises': 'viking'
})

In [20]:
# Validate unique profiles in data
unique_profiles = raw_df['PROFILE'].unique()
unique_profiles

array(['netflix', 'apple', 'amazon', 'smartsheet', 'uber', 'airbnb',
       'asana', 'calendly', 'spotify', 'blinkist', 'instacart',
       'pathwright', 'nike', 'gucci', 'adidas', 'chanel', 'zara', 'dior',
       'levis', 'forever21', 'expedia', 'carnival', 'delta', 'allegiant',
       'vrbo', 'hostelworld', 'hilton', 'palisociety', 'trivago',
       'tripadvisor', 'viking', 'asos', 'primark', 'uniqlo', 'boohoo',
       'starbucks', 'coca-cola', 'nutella', 'dove', 'heineken', 'justegg',
       'oralb', 'burstoralcare', 'coppercowcoffee', 'rulebreakersnacks',
       'caymanjack', 'pretzilla', 'cravnflavor'], dtype=object)

In [22]:
# Export the cleaned DataFrame to a new CSV file
raw_df.to_csv('../20_intermediate-files/free_exporatory_db.csv', index=False)